$bg-color-primary: #FFFFFF;
//$bg-color-secondary: #F0F1F1;
$bg-color-secondary: #F5F5F2;

//$btn-account-border-color: #FAD648;
$btn-account-border-color: #DEC043;
$line-color: #707070;


$font-tree-columns: #5E5322;

$font-color-primary: #3C3C3C;
$font-color-secondary: #737373;

$nav-hover-color: #DEC043;
