.give-away-form-container{
    width: 100vw;
    height: 70vh;
    background-image: url(./../../assets/Background-Form.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @include mobile{
        height: 100vh;
        height: 100vh;
        background-image: none;
        background-color: $bg-color-secondary;
    }

    .step-counter{
        font-size: 1.5em;
        padding: 3.5em 0 1em 4em;
    }

    .step{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2em 0 1em 3em;

        .step-error{
            color: red;
            padding-bottom: 0.5em;

            @include mobile{
                font-size: 0.7em;
            }
        }

        .step1-btn{
            margin-top: 2em;
            padding: 1em 2em;
        }


        .step1{
            display: flex;
            flex-direction: column;
            padding: 1em 2em;

            .step1-select{
                font-size: 2em;
                padding-bottom: 1em;
                font-weight: 700;


                @include mobile{
                    font-size: 1em;
                }
            }

            label{
                padding: 0.5em;

                @include mobile{
                    font-size: 0.7em;
                }

                input[type='radio'] {
                    margin-right: 1em;
                }
            }
        }

        .step2{
            display: flex;
            flex-direction: column;
            padding: 1em 2em;

            .step2-form{
                display: flex;
                flex-direction: column;

                .step2-select{
                    font-size: 1.5em;
                    font-weight: 700;
                    padding-bottom: 2em;

                    @include mobile{
                        font-size: 1em;
                    }
                }

                label{
                    font-size: 1.1em;
                    padding-bottom: 2em;

                    @include mobile{
                        font-size: 0.8em;
                    }

                    select{
                        width: 10vw;
                        background-color: transparent;
                    }
                }
            }
        }

        .step3{
            padding: 1em 2em;
            .step3-form{
                display: flex;
                flex-direction: column;

                label{
                    font-size: 1.1em;
                    padding-bottom: 1em;

                    @include mobile{
                        font-size: 0.9em;
                    }

                    select{
                        width: 10vw;
                        background-color: transparent;

                        @include mobile{
                            width: 25vw;
                        }
                    }
                }

                .step3-whom-we-help{
                    font-size: 1.3em;
                    padding-bottom: 0.5em;

                    @include mobile{
                        font-size: 0.8em;
                    }
                }

                .step3-label{

                    @include mobile{
                        font-size: 0.7em;
                    }

                    input[type='checkbox'] {
                        margin-right: 0.7em;
                    }

                }
            }
        }

        .step4{
            display: flex;
            flex-direction: column;

            .step4-text{
                font-size: 1.5em;
                padding-bottom: 1em;

                @include mobile{
                    font-size: 0.9em;
                    padding: 0.5em 1em 0 0;
                }
            }
            .step4-form{
                display: flex;
                flex-direction: row;

                @include mobile{
                    flex-direction: column;
                }

                .adress,
                .date{
                    display: flex;
                    flex-direction: column;

                    @include mobile{
                        padding-top: 1em;
                    }

                    p{
                        font-size: 1.2em;
                        padding-bottom: 0.7em;

                        @include mobile{
                            font-size: 0.8em;
                        }
                    }

                    label{
                        padding: 0 0 0.5em;

                        @include mobile{
                            font-size: 0.6em;
                        }
        
                        input[type='text'],
                        input[type='number'],
                        textarea
                         {
                            margin-right: 1em;
                            background-color: transparent;
                        }
                    }
                }
            }

        }

        .step5{
            display: flex;
            flex-direction: column;

            .step5-text{
                font-size: 2em;
                font-weight: 600;
                text-align: center;
                padding: 0.8em 0;

                @include mobile{
                    font-size: 1.1em;
                }
            }
            .step5-donate{
                display: flex;
                flex-direction: column;
                                    
                p{
                    font-size: 1.5em;
                    padding: 0.8em 0;
                    font-weight: 600;

                    @include mobile{
                        font-size: 0.9em;
                    }
                }

                .step5-donate-row{
                    padding: 0.5em 0;

    
                    img{
                        width: 2em;
                        height: 2em;

                        @include mobile{
                            width: 1em;
                            height: 1em;
                        }
                     }

                     span{
                        font-weight: 600;

                        @include mobile{
                            font-size: 0.8em;
                        }
                     }
                }
            }

            .step5-data{
                display: flex;
                flex-direction: row;

                .step5-adress{
                    padding-right: 3.5em;

                    @include mobile{
                        padding-right: 1.5em;
                    }
                }

                .step5-adress,
                .step5-term{
                    p{
                        padding: 0.7em 0;

                        @include mobile{
                            font-size: 0.7em;
                        }
                    }

                    p{
                        &:first-of-type{
                            font-size: 1.2em;
                            font-weight: 600;

                            @include mobile{
                                font-size: 0.8em;
                            }
                        }
                    }
                }
            }
        }

        .step6{
            padding-left: 10em;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            height: 70vh;

            @include mobile{
                padding-left: 3em;
            }

            p{
                font-size: 2em;
                font-weight: 200;
                padding: 0.5em 0;

                @include mobile{
                    text-align: center;
                    font-size: 0.8em;
                }
            }

            .decoration{
                @include mobile{
                    width: 30vw;
                }
            }
        }
    }
    .steps-buttons{
        padding-top: 2em;

        @include mobile{
            padding-top: 1em;
        }

        button{
            padding: 1em 2em;

            @include mobile{
                padding: 0.5em 1em;
            }
        }


        button{
            &:first-of-type{
                margin-right: 2em;
            }
        }    
    }
}
