.whom-we-helps{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @include mobile{
        height: 80vh;
    }


    .whom-we-helps-text{
        text-align: center;
        
        #help{
            font-size: 4em;
            font-weight: 400;
            padding-bottom: 1em;

            @include mobile{
                font-size: 1.5em;
            }
        }

        .decoration{
            @include mobile{
                width: 30vw;
            }
        }

    }

    .whom-we-help-btn{
        padding-top: 2em;
        padding-bottom: 2em;

        button{
            margin-right: 2em;
        }
    }

    .whom-we-helps-desc{
        padding: 2em 20em;
        font-size: 1.5em;
        text-align: center;

        @include mobile{
            font-size: 0.6em;
            padding: 0em 6em 2em;
        }
    }

    .whom-we-help-choice{
        width: 70vw;
        .whom-we-help-choice-div{
            font-size: 1.2em;
            padding: 1em;
            border-bottom: 0.08em solid black;

            @include mobile{
                font-size: 0.6em;
                padding: 1em 0.5em 0.5em;
                border-bottom: 0.02em solid black;
            }

            .whom-help-choice-name-and-donation{
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                .whom-we-help-name{
                    @include mobile{
                        font-size: 0.6em;
                    }
                }

                span{
                    font-size: 0.8em;

                    @include mobile{
                        font-size: 0.4em;
                    }
                }

                .whom-we-help-mission{
                    font-size: 1em;
                    @include mobile{
                        font-size: 0.4em;
                    }
                }
            }

            .whom-we-help-mission{
                font-size: 1em;
                @include mobile{
                    font-size: 0.5em;
                    padding-top: 0.5em;
                }
            }
        }
    }

    .pagesNumbers{
        display: flex;
        flex-direction: row;
        list-style-type: none;
        cursor: pointer;
        padding-top: 2em;


        @include mobile{
            font-size: 0.7em;
        }

        li{
            padding: 1em;

            @include mobile{
                padding: 0.5em;
            }

            
        }
        .active{
            border: 0.02em solid black;
        }
    }
    
}