.donate-things{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;

    @include mobile{
        height: 20vh;
    }
    
    .donate-things-btn{
        background-color: transparent;
        padding: 1em 2.5em;
        font-size: 2em;
        color: $font-color-primary;
        border: 0.05em solid $font-color-primary;
        font-weight: 300;

        @include mobile{
            padding: 1em 1.5em;
            font-size: 1em;
        }

        a{
            text-decoration: none;
            color: $font-color-primary;

            a:hover{
                color: $font-color-secondary;
            }
        }
        
            &:hover{
                color: $font-color-secondary;
                border: 0.05em solid $font-color-secondary;
            }
    }
}